<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" lang="en">
<!-- 	layout:decorator="templates/layout"  -->
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{region}" th:object="${region}" method="post">
		<input type="text" th:field="*{regionName}" />
		<p th:errors="*{regionName}"></p>
		<input type="submit" value="Send" />
	</form>
</body>
</html>